<div class="row">


    {{#foreach posts}}
        <a href="{{url}}">
            <div class="col-md-4 col-sm-6">
                <div class="list-post-item">

                    {{#if image}}
                        <div class="underlay selectable" style="background-image: url({{image}});"></div>
                    {{/if}}

                    <h2 class="">{{title}}</h2>
                    <div class="description">
                        <p>
                            {{excerpt words="60"}}
                        </p>
                    </div>

                    {{> "tags"}}

                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                </div>
            </div>
        </a>

    {{/foreach}}
    <a href="/map">
        <div class="col-md-4 col-sm-6">
            <div id="map" class="list-post-item">
                <div class="underlay selectable" style="background-image: url({{asset "images/map_overlay.jpg"}});"></div>
                <header class="">
                    <h2 class="">Map</h2>
                </header>
            </div>
        </div>
    </a>

</div>

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
