<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/magnific-popup.css"}}"/>

    <link rel="stylesheet" type="text/css" href="{{asset "css/slick.css"}}"/>
    <link rel="stylesheet" type="text/css" href="{{asset "css/slick-custom.css"}}"/>
    <!--<link rel="stylesheet" type="text/css" href="{{asset "css/slick-theme.css"}}"/>-->

    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}"/>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}


</head>
<body class="{{body_class}}">

<div class="site-wrapper">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

</div>

{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
{{!-- Ghost outputs important scripts and data with this tag --}}
{{ghost_foot}}
{{!-- Fitvids makes video embeds responsive and awesome --}}
<script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

<script type="text/javascript" src="{{asset "js/jquery.visible.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/isotope.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/imagesloaded.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/magnific-popup.min.js"}}"></script>
<script type="text/javascript" src="{{asset "js/slick.min.js"}}"></script>

<script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
