{{!< default}}

{{#post}}


    <div class="post-title">
        <a href="{{@blog.url}}">{{title}}</a>

        {{#if image}}
            <meta property="og:image" content="{{@blog.url}}{{image}}"/>
            <!--<div class="underlay repeat" style="background-image: url({{image}});"></div>-->
        {{/if}}
    </div>


    {{#if featured}}
        <div class="container post-container">
            <div class="row">
                <div class="col-sm-12 post-content">
                    {{content}}
                </div>
            </div>
        </div>
    {{else}}
        <div class="container post-container container-small">
            <div class="row">
                <div class="col-sm-12 post-content">
                    {{content}}
                </div>
            </div>
        </div>
    {{/if}}



    <div class="post-footer">

        <div class="container">
            <div class="row">

                <div class="col-xs-4">
                    {{#next_post}}
                        <a class="post-footer-link" href="{{url}}">
                            <h3>{{title}}</h3>
                            <p>{{excerpt words="19"}} ...</p>
                        </a>
                    {{/next_post}}
                </div>

                <div class="col-xs-4 home-link">
                    <a class="post-footer-link" href="{{@blog.url}}">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </div>


                <div class="col-xs-4 txt-right">
                    {{#prev_post}}
                        <a class="post-footer-link" href="{{url}}">
                            <h3>{{title}}</h3>
                            <p>{{excerpt words="19"}} ...</p>
                        </a>
                    {{/prev_post}}
                </div>


            </div>
        </div>
    </div>


    <div data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <div class="modal-content-gallery"></div>
    </div>

{{/post}}
