{{!< default}}

{{#post}}


    <div class="post-title">
        {{title}}

            <!--{{#if image}}-->
        <!--<div class="underlay repeat" style="background-image: url({{image}});"></div>-->
            <!--{{/if}}-->
    </div>


    {{#if featured}}
        <div class="container gallery-container">
            <div id="gallery"></div>
        </div>
        <div class="hide">
            {{content}}
        </div>
    {{else}}
        <div class="container container-small">
            <div class="row">
                <div class="col-sm-12 post-content">
                    {{content}}
                </div>
            </div>
        </div>
    {{/if}}



    <div class="post-footer">

        <div class="container">
            <div class="row">


                <div class="col-xs-4">
                    {{#next_post}}
                        <a class="post-footer-link" href="{{url}}">
                            <h3>{{title}}</h3>
                            {{#if featured}}

                            {{else}}
                                <p>{{excerpt words="19"}} ...</p>
                            {{/if}}
                        </a>
                    {{/next_post}}
                </div>

                <div class="col-xs-4 home-link">
                    <a class="post-footer-link" href="{{@blog.url}}">
                        <i class="glyphicon glyphicon-home"></i>
                    </a>
                </div>


                <div class="col-xs-4 txt-right">
                    {{#prev_post}}
                        <a class="post-footer-link" href="{{url}}">
                            <h3>{{title}}</h3>
                            {{#if featured}}

                            {{else}}
                                <p>{{excerpt words="19"}} ...</p>
                            {{/if}}
                        </a>
                    {{/prev_post}}
                </div>


            </div>
        </div>

    </div>




{{/post}}
